.players {
    width: 50%;
    position: fixed;
    top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
}

.currentPlayer {
    animation: pulse 5s infinite;
}

.otherPlayer {
    font-size: 30px;
}

@keyframes pulse {
    0%,
    100% {
        font-size: 70px;
    }
    50% {
        font-size: 110px;
    }
}

@media screen and (max-width: 768px) {
    .players {
        width: 100%;
    }
}
