.slots {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    font-family: "compagnon-light-webfont";
}

@font-face {
    font-family: "compagnonlight";
    src: url("../compagnon-light-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
